<%= render "/teams/new" %>  

<h1 class="title">
  <i class="fa fa-users"></i> Team Directory 
  <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#addTeam"><span class="fa fa-plus"></span> New Team</button>
</h1>

<hr>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">Teams <%= "(#{Team.all.count})" %></header>
      
      <table class="table table-bordered table-advance table-hover">
        
        <thead>
          <tr style="background-color: #eeeeee">
            <th>ID</th>
            <th>Name</th>
            <th>Size</th>
            <th>Members</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>  

          <% Team.all.each do |team| %>
            
            <tr>
              <td><%= team.id %></td>             
              <td><%= link_to team.name, team %></td>
              <td><%= team.membership.size %></td>
              <td>
                <% team.membership.each_with_index do |member, i| %>
                  <% if (i > 0) && (team.membership.size > 1) %>|<% end %>
                  <%= link_to member.name, member %>
                <% end %>
              </td>
              <td>
                <%= link_to edit_team_path(team), class: "btn-xs btn btn-info" do %><i class="fa fa-pencil "></i><% end %>
                <%= link_to team, class: "btn-xs btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o "></i><% end %>
              </td>
                    
            </tr>
          
          <% end %>

        </tbody>

      
      </table>

    </section>
  </div>
</div>



      

 





