  <div id="content" class="span11">
    <div class="container">

      <h1><i class="fa fa-users"></i> Teams</h1>

        <% if current_user.team.blank? %>

          <div id="content" class="contentSmall" style="top: 0px;">
            <h2> You are not on a team yet! </h2>
          </div>

        <% else %>

            <%= "You are on Team '#{current_user.team.name}'." %><br>

            <center><h2><b>Team Members</b></h2></center>

            <table class="table table-hover table-bordered table-center">
              <thead>
                <tr style="background-color: #eeeeee">
                  <th>#</th>
                  <th>Member Name</th>
                  <th>Email Address</th>
                  <th>Overall Percent Weight Loss</th>
                </tr>
              </thead>

              <tbody>
                <% current_user.team.users.each_with_index do |member, i| %>
                                    
                  <tr>

                    <td><%= i+1 %></td>             
                    <td><%= member.name %></td>
                    <td><%= member.email %></td>
                    <td><%= printWeightPercentChange(member.overallWeightPercentChange) %></td>

                      
                  </tr>
                <% end %>

              </tbody>
            </table>

        <% end %>

    </div>
  </div>