<div id="content" class="span11">
  <div class="container">

    <h1><i class="fa fa-cog"></i> My Settings</h1>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

      <%= devise_error_messages! %>

      <table>
          <tr>
            <td style="vertical-align: middle; padding: 10px 0 10px 0; font-size:13px;">Your Name:</td>
            <td><%= f.text_field :name, class: "form-control", style: "padding: 5px 10px 5px 10px; float: left; margin: 0px; margin-left: 10px; vertical-align: middle;" %></td>
          </tr>
          <tr>
            <td style="vertical-align: middle; padding: 10px 0 10px 0; font-size:13px;">Your Email: </td>
            <td><%= f.email_field :email, class: "form-control", style: "padding: 5px 10px 5px 10px; float: left; margin: 0px; margin-left: 10px;" %></td>
          </tr>
          <tr>
            <td style="vertical-align: middle; padding: 10px 0 10px 0; font-size:13px;">Your Location: </td>
            <td><div style="margin-left:10px;padding-top:5px;"><%= f.select :location, ["Westborough, MA", "New York City, NY", "Pleasanton, CA", "Alpharetta, GA", "Remote"] %></div></td>
          </tr>

          <tr>
            <td style="text-align: center; vertical-align: bottom; margin: 0 auto;" >
              <label class="switch switch-primary">
                <%= f.check_box :visible, {:class => "switch-input"} %>
                <span class="switch-label" data-on="Yes" data-off="No"></span>
                <span class="switch-handle"></span>
              </label>
            </td>
            <td style="text-align: left; padding: 10px 0 10px 0;"><div style="margin-left: 10px;">Visible from Leaderboard?</div>
            </td>    
          </tr>


        </table>
        <hr>

          <%= f.submit "Update", class: "btn btn-primary" %></td>
          

    <% end %>
  </div>

  </div>
</div>