<%= render "devise/noty" %>

<div class="container">
	
	<%= form_for(resource, :html => {:class => 'form-signin'}, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<h2 class="form-signin-heading" style="background-color: #00334b"><span class="fa fa-user"></span> Registration</h2>
   
   	<div class="login-wrap">

   		<%= "Your Full Name:" if browser.ie? %> 	
   		<%= f.text_field :name, class: "form-control", :placeholder => "Your Full Name", :autofocus => true %>

		   <%= "Your Email Address:" if browser.ie? %>
		   <%= f.email_field :email, class: "form-control", :placeholder => "Your Email Address" %>

		   <%= "Your Password:" if browser.ie? %>
		   <%= f.password_field :password, class: "form-control", :placeholder => "Your Password" %>
		   
		   
		   <%= f.select(:location, ["Westborough, MA", "New York City, NY", "Pleasanton, CA", "Alpharetta, GA", "Chicago, IL", "Remote"], {}, { :class => 'form-control m-bot15' }) %>
			
		  
		   <div class="form-group"><%= f.submit "Register", class: "btn btn-primary btn-block" %></div>

			<hr>
				
			<div style="font-size: 10px; text-align:justify; line-height:15px;">
				By registering in this challenge I recognize and acknowledge that there are risks of physical injury and I, agree to assume the full risk of any injuries (including death), damages or loss which I, may sustain as a result of participating in any and all activities arising out of, connected with this challenge I, acknowledge that participation this program is voluntary and I will abide by the rules of the challenge as outlined.
			</div>

		</div>

	<% end %>

</div>



			
