 <div id="content" class="contentSmall">
<div class="panel panel-default">
	<div class="panel-heading">
		<h1><span class="fa fa-user"></span> Registration</h1>
	</div>

	<div class="panel-body">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

	    <%= devise_error_messages! %>

	    	<table>
	    		<tr>
	    			<td>Your Name:</td>
	    			<td><%= f.text_field :name, class: "form-control", :autofocus => true, style: "padding: 5px 10px 5px 10px;" %></td>
	    		</tr>
	    		<tr>
	    			<td>Your Email: </td>
	    			<td><%= f.email_field :email, class: "form-control", style: "padding: 5px 10px 5px 10px;" %></td>
	    		</tr>
	    		<tr>
	    			<td>Your Password: </td>
	    			<td><%= f.password_field :password, class: "form-control", style: "padding: 5px 10px 5px 10px;" %></td>
	    		</tr>
	    	</table>


			<div class="form-group">
				<%= f.submit "Register", class: "btn btn-primary" %>
			</div>

		<% end %>

	</div>

</div>
</div>