<h1 class="title"><i class="fa fa-wrench"></i> Changelog</h1>

<hr>

<div class="row"><div class="col-lg-12"><section class="panel panel-primary">
    <header class="panel-heading">About Changelog</header>
    <div class="panel-body">
        <%= link_to "eClinicalWellness: The Biggest Loser", root_path %> has been created 100% from scratch here at <i>eClinicalWorks</i>. New features will implemented periodically to improve the overall employee experience while participating in the competition. <br><br>

        If you have any suggestions or run into any issues with the application, feel free to reach out to us at <%= mail_to "theBiggestLoser@eClinicalWorks.com" %>.
      </div>
</section></div></div>


<div class="row"><div class="col-lg-12"><section class="panel panel-primary">

	<header class="panel-heading">Major Updates</header>
   	<div class="panel-body">

         <div class="timeline">
            <article class="timeline-item"><div class="timeline-desk">
               <div class="panel">
                  <div class="panel-body">
                      <span class="timeline-icon"></span>
                      <h1 class="red"><i class="fa fa-users"></i> <b>Team Profiles</b> (01/17/2014)</h1>
                      <p>Team profiles are now public and can be accessed from the <%= link_to "Leaderboard", leaderboard_path %>. Currently, you can view the members of the team, their respective weight loss percents and some general team stats.</p>
                  </div>
                      </div>
            </div></article>


            <article class="timeline-item alt"><div class="timeline-desk">
               <div class="panel">
                  <div class="panel-body">
                      <span class="timeline-icon"></span>
                      <h1 class="red"><i class="fa fa-key"></i> <b>Passwords</b> (01/07/2014)</h1>
                      <p>Users can now reset their passwords if they have forgotten them and will be sent an email with a reset link. In addition, users can change their current passwords in <%= link_to "My Settings", edit_user_registration_path %>.</p>
                  </div>
                      </div>
            </div></article>

            <article class="timeline-item"><div class="timeline-desk">
               <div class="panel">
                  <div class="panel-body">
                      <span class="timeline-icon"></span>
                      <h1 class="red"><i class="fa fa-star"></i> <b>eCW Biggest Loser</b> (01/31/2013)</h1>
                      <p><%= link_to "eClinicalWellness: The Biggest Loser", root_path %> goes live and registration is open to eClinicalWorks employees working in offices in the United States.</p>
                  </div>
                      </div>
            </div></article>

         </div>

      </div>



      <div class="clearfix">&nbsp;</div>

   </div>

</section></div></div>