<h1 class="title"><i class="fa fa-tasks"></i> Admin Dashboard</h1>

<hr>

<div class="row state-overview">

	<div class="col-lg-4 col-sm-6">
      <section class="panel">
           <div class="symbol blue">
               <i class="fa fa-dashboard"></i>
           </div>
           <div class="value">
             	<h1><%= Weighin.all.count %></h1>
               <p>Total Weigh-Ins</p>
           </div>
       </section>
   </div>

   <div class="col-lg-4 col-sm-6">
       <section class="panel">
           <div class="symbol blue">
               <i class="fa fa-user"></i>
           </div>
           <div class="value">
               <h1><%= User.all.count %></h1>
               <p>Total Users</p>
           </div>
       </section>
   </div>

   <div class="col-lg-4 col-sm-6">
       <section class="panel">
           <div class="symbol blue">
               <i class="fa fa-users"></i>
           </div>
           <div class="value">
               <h1><%= Team.all.count %></h1>
               <p>Total Teams</p>
           </div>
       </section>
   </div>
</div>

<div class="row">
            <div class="col-lg-12">
            <section class="panel panel-primary">
                <header class="panel-heading">Recent 5 Users</header>
                <table class="table table-bordered table-advance table-hover">
        <thead>
          <tr style="background-color: #eeeeee">
            <th>ID</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Admin?</th>
            <th>Last Login</th>
            <th>Last Activity</th>

          </tr>
        </thead>

        <% unless User.blank? %>

        <tbody>

        	<% sortedUsers = User.order(last_sign_in_at: :desc).limit(5) %>
          <% sortedUsers.each do |user| %>


              <tr>

            	<td><%= user.id %></td>
            	<td><%= link_to user.name, user %></td>
               <td><%= user.email %></td>

	            <td>
                 <% if user.admin? %>
                     <span class="label label-warning label-mini">Admin</span>
                 <% else %>
                     <span class="label label-default label-mini">User</span>
                 <% end %>
	            </td>
              <td><%= time_ago_in_words(user.last_sign_in_at) if user.last_sign_in_at? %></td>
              <td><%= time_ago_in_words(user.updated_at) %></td>

            </tr>

          <% end %>

        </tbody>

        <% end %>

      </table>

    </section>
  </div></div>

<hr>

<% if (current_user == User.all[0]) || (current_user == User.all[1]) %>

  <% companyWeightLoss = (User.all.includes(:weighins).withWeighins.map{|u| u.currentWeight}.sum)-(User.all.includes(:weighins).withWeighins.map{|u| u.firstWeight}.sum) %>

  <% averageWeightLoss = companyWeightLoss/User.all.count %>

  <% averageWeightLossPercent = ((User.all.withWeighins.pluck(:percentWeightChange).sum)/(User.all.count)).round(2) %>

  <div class="row state-overview">

    <div class="col-lg-4 col-sm-6">
        <section class="panel">
             <div class="symbol terques">
                 <i class="fa fa-dashboard"></i>
             </div>
             <div class="value">
                <h1><%= companyWeightLoss %> lbs</h1>
                 <p>Total Weight Loss</p>
             </div>
         </section>
     </div>

     <div class="col-lg-4 col-sm-6">
         <section class="panel">
             <div class="symbol terques">
                 <i class="fa fa-user"></i>
             </div>
             <div class="value">
                 <h1><%= averageWeightLoss %> lbs</h1>
                 <p>Average Weight Loss</p>
             </div>
         </section>
     </div>

     <div class="col-lg-4 col-sm-6">
         <section class="panel">
             <div class="symbol terques">
                 <i class="fa fa-user"></i>
             </div>
             <div class="value">
                 <h1><%= averageWeightLossPercent %>%</h1>
                 <p>Average Loss %</p>
             </div>
         </section>
     </div>
  </div>

<% end %>


