<h1 class="title"><i class="fa fa-trophy"></i> Leaderboard</h1>

<hr>

	<div class="row">
            <div class="col-lg-12">
            <section class="panel panel-primary">
                <header class="panel-heading"><i class="fa fa-user"></i> Individual Rankings (Top 25)</header>
                <table class="table table-bordered table-advance table-hover">
        <thead>
          <tr style="background-color: #eeeeee">
            <th>Rank</th>
            <th>Name</th>
            <th>Location</th>
            <th>Team</th>
            <th>Overall Percent Weight Loss</th>
          </tr>
        </thead>

        <% unless User.blank? %>

        <tbody>
          
          <% sortedUsers = User.visible.withVerifiedWeighins.sort_by {|u| [u.currentWeightPercentChange, u.id] }.first(25) %>
          <% sortedUsers.each_with_index do |user, i| %>
            
            <% if current_user == user %>
              <tr style="background-color: #e3f2ff">
            <% else %>
              <tr>
            <% end %>

             
            	<td><%= i+1 %></td>            	
            	<td><%= user.name %><% if (current_user == user) %> <b>(You)</b><% end %></td>
			        <td><%= user.location %></td>
              <td><%= user.team.name if user.team %></td>
            	<td><%= user.printCurrentWeightPercentChange %></td>

            </tr>

          <% end %>
          
        </tbody>

        <% end %>
        
      </table>

    </section>
  </div></div>



      <div class="row">
            <div class="col-lg-12">
            <section class="panel panel-primary">
                <header class="panel-heading"><i class="fa fa-users"></i> Team Rankings (Top 10)</header>
                <table class="table table-bordered table-advance table-hover">
        <thead>
          <tr style="background-color: #eeeeee">
            <th>Rank</th>
            <th>Name</th>
            <th>Percent Weight Loss</th>
          </tr>
        </thead>

        <% unless Team.blank? %>

        <tbody>
          <% sortedTeams = Team.withUsers.sort_by {|t| t.weightPercentChange }.first(10) %>
          <% sortedTeams.each_with_index do |team, i| %>
            
            <% if current_user.team == team %>
              <tr style="background-color: #e3f2ff">
            <% else %>
              <tr>
            <% end %>

             
              <td><%= i+1 %></td>             
              <td><%= team.name %><% if (current_user.team == team) %> <b>(Your Team)</b><% end %></td>
              <td><%= team.printWeightPercentChange %></td>

            </tr>

          <% end %>
          
        </tbody>

        <% end %>
      </table>
    </section></div></div>
