
 <div id="content" class="contentSmall">


<div class="panel panel-default">
	<div class="panel-heading">
		<h1><span class="fa fa-sign-in"></span> Log In</h1>
	</div>

	<div class="panel-body">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

			<% devise_error_messages! %>


			<table>
		    		<tr>
		    			<td>Your Email:</td>
		    			<td><%= f.email_field :email, class: "form-control", :autofocus => true, style: "padding: 5px 10px 5px 10px;" %></td>
		    		</tr>
		    		<tr>
		    			<td>Your Password: </td>
		    			<td><%= f.password_field :password, class: "form-control", style: "padding: 5px 10px 5px 10px;" %></td>
		    		</tr>
		    		<tr>
		    			<td style="text-align: right;"><%= f.check_box :remember_me %></td>
		    			<td style="text-align: left;">Remember Me</td>
		    			
		    		</tr>
		    	</table>

			<center>
			<div class="form-group">
				<%= f.submit "Login", class: "btn btn-primary" %>
			</div>
			</center>

		<% end %>



	</div>

	<div class="panel-footer">
		<%= render "devise/shared/links" %>
	</div>

</div>

</div>
