<div class="panel panel-default">
  

  <div class="panel-body">
    <%= form_for(@weighin) do |f| %>

      <% if @weighin.errors.any? %>
          <div id="error_explanation">


          <div class="alert alert-danger">
            <ul>
          <% @weighin.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </div>
          
        </div>
      <% end %>


      <div class="form-group">
        <%= f.label :weight %>
        <%= f.number_field :weight, autofocus: true, class: "form-control" %>
      </div>

    

      <center>
      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
      </center>

    <% end %>

  </div>

</div>






  