<div class="modal fade" id="addWeighin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <% @weighin = Weighin.new %>
      <%= form_for(@weighin, :html => { :style => 'margin: 0;' }) do |f| %>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title"><center>New Weigh-In</center></h2>
        </div>

        <div class="modal-body">

            <div style="text-align: center;"> Weight (lbs): <%= f.number_field :weight, :min => 1, class: "form-control", autofocus: true %></div>

            <%= f.hidden_field :user_id, :value => @user.id %>

            <%= f.hidden_field :verified, :value => ((current_user.admin?) && (@user != current_user)) %>


        </div>

        <div class="modal-footer">

            <center><%= f.submit "Submit", class: "btn btn-primary" %></center>

        </div>

      <% end %>

    </div>
  </div>
</div>




