  <% if current_user.admin? %>



  <section id="main-content">

      <section class="wrapper">


    
      

      <h1 class="title"><i class="fa fa-user"></i> Users</h1>

<hr>



	<div class="row">
            <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">Users</header>
                <table class="table table-bordered table-advance table-hover">
        <thead>
          <tr style="background-color: #eeeeee">
            <th>ID</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Location</th>
            <th>Admin?</th>
            <th>Paid?</th>
            <th>Actions</th>

          </tr>
        </thead>

        <% unless User.blank? %>

        <tbody>
        	
          <% User.all.each do |user| %>
            
            
              <tr>
            

             
            	<td><%= user.id %></td>            	
            	<td><%= user.name %></td>
              <td><%= user.email %></td>
			        <td><%= user.location %></td>
              <td>

                    <% if user.admin? %>
                        <span class="label label-success label-mini">Admin</span>
                    <% else %>
                        <span class="label label-info label-mini">User</span>
                    <% end %>
              </td>
            	<td>
                    <% if user.paid? %>
                        <span class="label label-success label-mini">Paid</span>
                    <% else %>
                        <span class="label label-warning label-mini">Unpaid</span>
                    <% end %>


              </td>
              <td>

                <%= link_to class: "btn-xs btn btn-default", data: { confirm: 'Are you sure?' } do %><i class="fa fa-dollar "></i><% end %>

                <%= link_to class: "btn-xs btn btn-info", data: { confirm: 'Are you sure?' } do %><i class="fa fa-arrow-up "></i><% end %>

                <%= link_to class: "btn-xs btn btn-danger", data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o "></i><% end %>



              </td>

            </tr>

          <% end %>
          
        </tbody>

        <% end %>
        
      </table>

    </section>
  </div></div>



      

 




    </section>
  </section>

<% end %>

