<% if current_user.admin? %>

<section class="panel panel-primary">
  <header class="panel-heading">Edit Weigh-In</header>
  
  <div class="panel-body">
    <%= form_for(@weighin, :html => {:class => 'form-horizontal'}) do |f| %>
    
      <%= render 'errors' %>

      <div class="form-group">
        <label class="col-lg-2 col-sm-2 control-label">Weigh-in Date:</label>
        <div class="col-lg-10">
          <%= f.datetime_local_field :created_at, :disabled => true, class: "form-control" %>               
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-sm-2 control-label">Your Weight (lbs):</label>
        <div class="col-lg-10">
          <%= f.number_field :weight, :min => 1, class: "form-control" %>                 
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-sm-2 control-label">Verified?</label>
        <div class="col-lg-10">
          <%= f.check_box :verified %>                 
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      </div>
        
    <% end %>
  </div>

</section>

<% end %>




  