<% if user_signed_in? %>




<h1>
  Weigh-Ins (<%= current_user.name %>)
  <button class="btn btn-primary btn-success" style="float: right" data-toggle="modal" data-target="#myModal">
  New Weigh-In
</button>
</h1>

              <%= render 'modalform' %>  


<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th style="text-align: center">Weight</th>
      <th style="text-align: center">Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @weighins.each do |weighin| %>
      <% if weighin.user == current_user %>

        <tr>
          <td><%= weighin.created_at.strftime("%B %-d, %Y %-I:%M %p") %></td>
          <td style="text-align: center"><%= weighin.weight %> lbs</td>
          <td style="text-align: center"><%#<%= link_to '', edit_weighin_path(weighin), class: "glyphicon glyphicon-pencil" %>
          <%= link_to '', weighin, class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

      <% end %>
      <% end %>
  </tbody>
</table>

<br>


<% else %>


<div class="jumbotron center">
    <h1>Y U NO LOSE WEIGHT?</h1>
    <p>Welcome to the eCWellness: The Biggest Loser Competition 2013!</p>
</div>



<% end %>