<% if user_signed_in? %>




<h1>
  Weigh-Ins (<%= current_user.name %>)
  <button class="btn btn-primary btn-success" style="float: right" data-toggle="modal" data-target="#myModal">
  New Weigh-In
</button>
</h1>

  <%= render 'modalform' %>  

<%= content_tag :div, "", id: "weighins_chart", data: {weighins: Weighin.where("user_id = ?", current_user.id).all} %>

<br>


<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th style="text-align: center">Weight</th>
      <th style="text-align: center">Tools</th>
    </tr>
  </thead>

  <tbody>
    <% prevWeight = 0 %>
    <% @weighins.each do |weighin| %>
      <% if weighin.user == current_user %>

        <% if prevWeight != 0 %>
            <% weightChange = 100*(weighin.weight-prevWeight)/prevWeight %>
        <% elsif %>

        <% weightChange = 0 %>

        <% end %>


        

        <tr>

          <td><%= weighin.created_at.strftime("%A, %B %-d, %Y %-I:%M %p") %>
              <% if weighin.verified? %><span class="glyphicon glyphicon-check" style="color:green"></span><% end %>

          </td>
          


          <td style="text-align: center"><%= weighin.weight %> lbs
            <% if (weightChange > 0) %>
              <b><font color=red>(+<%= weightChange %>%)</font></b>
            <% elsif weightChange < 0 %>
              <b><font color=green>(<%= weightChange %>%)</font></b>

            <% else %>
              <b>(<%= weightChange %>%)</b>
            <% end %>
             
             

          </td>

        

          <td style="text-align: center"><%#<%= link_to '', edit_weighin_path(weighin), class: "glyphicon glyphicon-pencil" %>
          <%= link_to '', weighin, class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

          <% prevWeight = weighin.weight %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


<% else %>


<div class="jumbotron center">
    <h1>Y U NO LOSE WEIGHT?</h1>
    <p>Welcome to the eCWellness: The Biggest Loser Competition 2013!</p>
</div>



<% end %>