<% @user = current_user %>
<%= render "/weighins/new", :user => @user %>
  
<h1 class="title">
  <i class="fa fa-bar-chart-o"></i> 
  My Progress
  <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#addWeighin"><span class="fa fa-plus"></span> Add a Weigh-In</button>
</h1>

<hr>

<div class="row"><div class="col-lg-12"><section class="panel panel-primary">

  <header class="panel-heading">Weight Change</header>
  <%= content_tag :div, "", id: "weight_chart", data: {weighins: current_user.weights_as_array} %>

</section></div></div>

<div class="row"><div class="col-lg-12"><section class="panel panel-primary">
      
  <header class="panel-heading">Your Weigh-Ins</header>
      
  <table class="table table-bordered table-advance table-hover">
            
    <thead>
      <tr style="background-color: #eeeeee">
        <th>#</th>
        <th>Week</th>
        <th style="text-align:left;">Date</th>
        <th>Weight</th>
        <th>Total Change</th>
        <th>Weigh-In Type</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      
      <% current_user.weighins.each_with_index do |weighin, i| %>
      
      <tr>     
        <td><%= i+1 %></td>
        <td><%= weighin.weighinWeek %></td>
        <td style="text-align:left;"><%= weighin.printCreatedAt %></td>
        <td><%= weighin.printWeight %></td>                
        <td><%= weighin.printWeightChangeStatement %></td>
        <td>
          <% if weighin.verified? %><span class="label label-success label-mini">Verified</span>
          <% else %><span class="label label-info label-mini">Personal</span><% end %>
        </td>
        <td>
          <% unless weighin.verified? %><%= link_to weighin, class: "btn-xs btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash-o "></i><% end %><% end %>
        </td>
      </tr>

      <% end %>
    
    </tbody>

  </table>

</section></div></div>

<div class="row"><div class="col-lg-12"><section class="panel panel-primary">

  <header class="panel-heading">Weight Change in Percent</header>
  <%= content_tag :div, "", id: "percent_chart", data: {weighins: current_user.weightPercentChanges_as_array} %>

</section></div></div>

