<aside>
  <div class="sidebar-toggle-box" style="position: absolute; margin-top: 15px;">
    <div class="fa fa-bars tooltips" style="color: #00334b" data-placement="right" data-original-title="Toggle Menu"></div>
  </div>

  <div id="sidebar"  class="nav-collapse">

    <ul class="sidebar-menu" id="nav-accordion">

      <div class="profile-nav" style="max-width: 210px;"><div class="user-heading round" style="<%= 'background-color: #ff6c60;' if current_user.admin? %>">

        <%= link_to(edit_user_registration_path) do %><%= image_tag("user.jpg") %><% end %>
        <h1><%= current_user.name %></h1>
        <p><%= 'Administrator' if current_user.admin? %><%= 'Competitor' unless current_user.admin? %></p>
        </div></div>

        <br>

        <% if current_user.admin? %>

            <li class="<%= 'active' if current_page?(dashboard_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(dashboard_path) do %><i class="fa fa-tasks"></i><span>Admin Dashboard</span><div class="loader"></div>
            <% end %></a></li>

            <li class="<%= 'active' if current_page?(users_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(users_path) do %><i class="fa fa-user"></i><span>User Directory</span><div class="loader"></div>
            <% end %></a></li>

            <li class="<%= 'active' if current_page?(teams_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(teams_path) do %><i class="fa fa-users"></i><span>Team Directory</span><div class="loader"></div>
            <% end %></a></li>

            <li class="<%= 'active' if current_page?(treasury_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(treasury_path) do %><i class="fa fa-money"></i><span>Treasury</span><div class="loader"></div>
            <% end %></a></li>

            <li class="<%= 'active' if current_page?(adminLeaderboard_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(adminLeaderboard_path) do %><i class="fa fa-trophy"></i><span>Admin Leaderboard</span><div class="loader"></div>
            <% end %></a></li>

            <hr style="border-top: 1px solid #666; opacity: 0.3;">

        <% end %>

          <li class="<%= 'active' if current_page?(root_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(root_path) do %>
            <i class="fa fa-bar-chart-o"></i>
            <span>My Progress</span><div class="loader"></div>
          <% end %></a></li>

          <li class="<%= 'active' if current_page?(myteam_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(myteam_path) do %>
            <i class="fa fa-users"></i>
            <span>My Team</span><div class="loader"></div>
          <% end %></li>

          <li class="<%= 'active' if current_page?(leaderboard_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(leaderboard_path) do %>
            <i class="fa fa-trophy"></i>
            <span>Leaderboard</span><div class="loader"></div>
          <% end %></li>

          <li class="<%= 'active' if current_page?(edit_user_registration_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(edit_user_registration_path) do %>
            <i class="fa fa-gear"></i>
            <span>My Settings</span><div class="loader"></div>
          <% end %></li>

          <li onClick="$(this).find('.loader').show();"><%= link_to(destroy_user_session_path, method: :delete) do %>
            <i class="fa fa-sign-out"></i>
            <span>Sign Out</span><div class="loader"></div>
          <% end %></li>

          <hr style="border-top: 1px solid #666; opacity: 0.3;">

          <li class="<%= 'active' if current_page?(changelog_path) %>" onClick="$(this).find('.loader').show();"><%= link_to(changelog_path) do %><i class="fa fa-wrench"></i><span>Changelog</span><div class="loader"></div>
            <% end %></a></li>

      </ul>
  </div>
</aside>