<% if user_signed_in? %>


<div id="sidebar-left" class="span1" style="width: 8%">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			
			<li><%= link_to(root_path) do %><i class="fa fa-dashboard"></i><span class="hidden-tablet"> Dashboard</span><% end %></li>	
			
			<li><%= link_to() do %><i class="fa fa-user"></i><span class="hidden-tablet"> My Progress</span><% end %></li>

			<li><%= link_to() do %><i class="fa fa-users"></i><span class="hidden-tablet"> My Team</span><% end %></li>
			
			<li><%= link_to(leaderboard_path) do %><i class="fa fa-trophy"></i><span class="hidden-tablet"> Leaderboard</span><% end %></li>
			
			<li><%= link_to(edit_user_registration_path) do %><i class="fa fa-gear"></i><span class="hidden-tablet"> My Settings</span><% end %></li>	
			
			<li><%= link_to(destroy_user_session_path, method: :delete) do %><i class="fa-icon-remove-sign"></i><span class="hidden-tablet"> Sign Out</span><% end %></li>	

		</ul>
	</div>
</div>

<% end %>
