<!DOCTYPE html>
<html>
<head>
  <title>eCWellness: The Biggest Loser</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<script type="text/javascript">

    $(document).ready(function () {
      <% flash.each do |name, msg| %>
        noty({text:'<%= msg %>', type: 'information', layout: 'topCenter', timeout: 5000, dismissQueue: true, animateOpen: {opacity: 'show'}});      
      <% end %>
    });

</script>



   
  <%= render 'layouts/header' %>
  <%= render 'layouts/menu' %>

  <%= yield %>


</body>
</html>
