<!DOCTYPE html>
<html lang="en">
<head>
  <title>eCWellness: The Biggest Loser</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  
</head>

<body class="boxed-page">

  <%= render "layouts/noty" %>

  <% if user_signed_in? %>
    
    <div class="container logged">
      <%= render 'layouts/menu' %>
      <section id="main-content">
        <section class="wrapper">
          <%= yield %>
        </section>
      </section>
    </div>

  <% else %>
  
      <%= yield %>
  
  <% end %>
    

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-1.8.3.min" %>
  <%= javascript_include_tag "jquery-1.7.2.min" %>
  <%= javascript_include_tag "jquery.noty" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery.dcjqaccordion.2.7" %>
  <%= javascript_include_tag "jquery.scrollTo.min" %>
  <%= javascript_include_tag "jquery.nicescroll" %>
  <%= javascript_include_tag "jquery.sparkline" %>
  <%= javascript_include_tag "owl.carousel" %>
  <%= javascript_include_tag "jquery.customSelect.min" %>
  <%= javascript_include_tag "respond.min" %>

  <%= javascript_include_tag "common-scripts" %>

  <%= javascript_include_tag "sparkline-chart" %>
  <%= javascript_include_tag "easy-pie-chart" %>
  <%= javascript_include_tag "count" %>

  <%= javascript_include_tag "html5shiv" %>
  <%= javascript_include_tag "respond.min" %>

</body>
</html>
