<!DOCTYPE html>
<html lang="en">
<head>
  <title>eCW: The Biggest Loser</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= javascript_include_tag "html5shiv" %>
  <%= javascript_include_tag "respond.min" %>

  <%= javascript_include_tag "jquery-1.10.2.min" %>
  <%= javascript_include_tag "jquery.dcjqaccordion.2.7" %>
  <%= javascript_include_tag "jquery.noty" %>


</head>

<body class="boxed-page">

  <%= render "layouts/noty" %>

  <% if user_signed_in? %>

    <div class="container logged">
      <%= render 'layouts/menu' %>
      <section id="main-content">
        <section class="wrapper">
          <%= yield %>
        </section>
      </section>
    </div>

  <% else %>

      <%= yield %>

  <% end %>

  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "common-scripts" %>





</body>
</html>
