<!DOCTYPE html>
<html>
<head>
  <title>eCWellness: The Biggest Loser</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script type="text/javascript" src="js/noty/packaged/jquery.noty.packaged.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render 'layouts/header' %>


<%= render 'layouts/menu' %>


<script>
  $(document).ready(function() {
    <% flash.each do |name, msg| %>
      noty({"text":"<%= msg %>","layout":"topCenter","type":"alert","closeButton":"true","animateOpen": {"opacity": "show"}});        
    <% end %>
  });
</script>
    
   

<%= yield %>



</body>
</html>
